<div class="row" style="margin-top: 80px">
    <div class="col-md-2 "></div>  
    
    <div class="col-md-8">
        <div>
            <h3 class="text-success">Congratulations, You have successfully placed the order.</h3>
            <hr>
            
            <h3>Order Info</h3>            
            <div class="row ">
            <div class="col-md-4 text-center">
                <h5>Id  </h5> <span>{{currentOrder._id}}</span>
            </div>
            <div class="col-md-4 text-center">
                <h5>Date </h5><span>{{currentOrder.date}}</span>
            </div>
            <div class="col-md-4 text-center">
                <h5>Time </h5><span>{{currentOrder.time}}</span>
            </div>
            </div>
            <hr>
            <h3>Order Summary</h3>            
            <div class="row">
                    <table class="table table-striped ">
                            <thead>
                              <tr>
                                <th scope="col" class="text-center">#</th>
                                <th scope="col" style="width:fit-content" class="text-center">Title</th>
                                <th scope="col" class="text-center">Image</th>
                                <th scope="col" class="text-center">Price</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Total Amount</th> 
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let movie of currentOrder.items;let i=index;">
                                <th  class="text-center" scope="row">{{i+1}}</th>
                                <td  style="width:fit-content" class="title-clickable text-center" (click)="goToMovieDetail(movie._id)">{{movie.title}}</td>
                                <td class="text-center">
                                        <img (click)="goToMovieDetail(movie.id)" [src]="imageUrl + movie.image" class="image-clickable" [alt]="movie.title">
                                </td>
                                <td class="text-center">${{movie.price}}</td>
                                <td class="text-center">{{movie.quantity}}</td>
                                <td class="text-center">${{(movie.quantity * movie.price).toFixed(2)}}</td>
                              </tr>                          
                            </tbody>
                          </table>
            </div>
                          <div class="row justify-content-center my-3">
                                <h5 class="m-2">Total Amount:</h5> 
                                <span class="font-weight-bold total-amount">${{currentOrder.totalAmount}}</span>
                            </div>
                            <div class="row justify-content-center">                 
                                <button type="button" (click)="goToHomePage()" class="btn btn-warning mx-3" ><fa-icon class="mx-2" [icon]="faHome"></fa-icon>Go to Home Page</button>                                
                            </div>
            </div>
        
    <hr>
    </div>
    
    <div class="col-md-2 "></div>
</div>
